/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: "Noto Sans TC", sans-serif;
	line-height:1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
    max-width:100%;
    height:auto;
	display: block;
}
*,*::before,*::after{
	box-sizing:border-box;
}

.container{
    max-width: 1920px;
    margin: 0 auto;
}

/*你好，冒險者，以下是header區域*/


.header{
	background: #fff;
	display: flex;
	align-items: center;
}
.headerLogo{
	padding-left: 312px;
	padding-right: 318px;
	padding-top: 28px;
	padding-bottom: 28px;
}

.headerUL{
	display: flex;
    justify-content: center;
	align-items: center;
}

.headerUL li{
	padding-top: 32px;
	padding-bottom: 32px;
	padding-right: 40px;
}
.headerUL li a{
	width: 48px;
	color: #000;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
	
}
.headerUL a{
	text-decoration: none;
	color: #000;

}
.headerUL a:hover{
	border: 1px solid #F1F1F1;
	border-width:medium;
	border-style:ridge;
}


/*你好，冒險者，以下是profile-intro區域*/
.mobile{
	display: none;
}
.mobile767{
	display: none;
}
.mobile375{
	display: none;
}
.profile-intro{
	display: flex;
	align-items: center;
	justify-content: center;
}

.profile-intro-logo{
	display: flex;
}
.profile-intro-logo img{
	padding-right: 24px;
	margin-bottom: 248px;
}

.profile-intro-picture02{
	display: none;
}

.profile-intro-Text{
	position: relative;
	margin-left: 300px;
}
.profile-intro-picture01 {
	/*max-width: 600px;*/
	padding-left: 24px;
}
.profile-intro-lg{
	color: #3B3B3B;
	font-size: 40px;
	font-weight: 600;
	line-height: 48px;
	padding-top: 249px;
	padding-bottom: 24px;
	
}
.profile-intro-mid{
	color: #5B5B5B;
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	padding-bottom: 8px;
}
.mark01{
	position: absolute;
	width: 148px;
	top: 350px;
	left: 150px;
}
.mark02{
	position: absolute;
	width: 119px;
	top: 350px;
	left: 310px;
}

.profile-intro-sm{
	color: #C1C1C1;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding-bottom: 60px;
	padding-top: 8px;
}



/*你好，冒險者，以下是works-intro區域，也就是作品介紹區域*/

.works-intro{
	display: flex;
	justify-content:center;
	align-items:center;
	padding-top: 121px;
	padding-bottom: 80px;
}

.works-intro h2{
	color: #3B3B3B;
	font-size: 32px;
	font-weight: 600;
	line-height: 38.4px;
	padding-left: 16px;
	padding-right: 16px;
}


/*你好，冒險者，以下是work-star-travel區域，也就是星際旅行區域*/


.work-star-travel{
	position: relative; 
}

.work-star-travel::before {
	content:'';
	position: absolute;
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	/*background-image: url("https://i.postimg.cc/Zq93vSw3/homepage-work1-bg.png");*/
	background-image: url("../img/homepage-work1-bg.png");
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }
.work-star-travel-inside{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5); /* 半透明的黑色遮罩 */
	position: relative;
}
.work-star-travel-bg{
	padding-top: 80px;
	padding-right: 55px;
}
.work-star-travel-Text{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items:flex-start;
	background: #fff;
	background-color: rgba(255, 255, 255, 20%);
	border-radius: 24px;
	padding-left: 40px;
	height: 400px;
}
.work-star-travel-Text h3{
	color: #fff;
	font-size:28px ;
	font-weight:700;
	line-height:33.6px ;
	padding-top: 80px;
	padding-right: 262px;
}
.work-star-travel-P{
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding-top: 8px;
}
.White-Line{
	width: 400px;
	height: 1px;
	border-top: solid #fff 1px;
	margin-bottom: 40px;
}

input{
	width: 250px;
	height: 62px;
	border:0;
	background: #000000;
	color:#fff;
	border-radius:5px;
	font-size: 20px;
	text-align: center;
	line-height: 30px;
	font-weight: 700;
}
input:hover{
	background: orange;
	color: #000;
}


.Introduction-BTN{
	margin-left: 80px;
}

.work-star-travel-Text ul{
	padding-top: 24px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.work-star-travel-Text li{
	width: 95px;
	color: #3B3B3B;
	background: #fff;
	border-radius: 16px;
}
.work-star-travel-Text a{
	color: #3B3B3B;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-decoration: none;
	padding-right: 18px;
	padding-bottom: 40px;
}


/*你好，冒險者，以下是work-finance-APP區域，也就是理財APP區域*/
.work-star-travel::before {
	content:'';
	position: absolute;
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	/*background-image: url("https://i.postimg.cc/Zq93vSw3/homepage-work1-bg.png");*/
	background-image: url("../img/homepage-work1-bg.png");
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }
.work-star-travel-inside{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5); /* 半透明的黑色遮罩 */
	position: relative;
}

.work-finance-APP{
	display: flex;
	background-image: url("../img/homepage-work2-lg.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	height: auto;
	width: 100%;
	position: relative; 
}
.work-finance-APP::before {
	content:'';
	position: absolute;
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	/*background-image: url("https://i.postimg.cc/Zq93vSw3/homepage-work1-bg.png");*/
	background-image: url("../img/homepage-work2-lg.png");
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }
  .work-finance-APP-inside{
	background-color: rgba(0, 0, 0, 0.5); /* 半透明的黑色遮罩 */
	position: relative; 
  }


.work-finance-APP-Text{
	width: 526px;
	background: #FFFFFF1A;
	background-color: rgba(255, 255, 255, 10%);
	border-radius: 24px;
	height: 400px;
	position: relative; 
}

.work-finance-APP-inside{
	width: 50%;
	background: #0A101380;
	background-color: rgba(10, 16, 19, 50%);
	padding-top: 200px;
	padding-left: 250px;
	padding-right: 100px;
	padding-bottom: 200px;
}
.work-finance-APP h4{
	color: #fff;
	font-size:28px ;
	font-weight:700;
	line-height:33.6px ;
	text-align: left;
	padding-top: 80px;
	padding-left: 40px;
}
.work-finance-APP-P{
	text-align: left;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding-top: 8px;
	padding-left: 40px;;
}
.work-finance-APP ul{
	padding-top: 24px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 40px;
}
.work-finance-APP li{
	width: 75px;
	color: #3B3B3B;
	background: #fff;
	border-radius: 16px;
}
.work-finance-APP a{
	color: #3B3B3B;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-decoration: none;
	padding-right: 18px;
	padding-bottom: 40px;
}

.White-Line-04{
	width: 440px;
	height: 1px;
	border-top: solid #fff 2px;
	padding-bottom: 40px;
	margin-left: 40px;
}

.Introduction-BTN-04{
	width: 176px;
	height: 62px;
	background: #000000;
	border-radius: 5px;
	margin-left: 140px;
	margin-bottom: 56px;
}

/*你好，冒險者，以下是work-medical-beauty區域，也就是醫療美容區域*/

.work-medical-beauty{
	position: relative; 
}

.work-medical-beauty::before {
	content:'';
	position: absolute;
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("../img/homepage-work3-bg.png");
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }


.work-medical-beauty-inside{
	background-color: rgba(0, 0, 0, 0.5); /* 半透明的黑色遮罩 */
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.work-medical-beauty-bg{
	padding-top: 176px;
	padding-right: 25px;
	padding-bottom: 112px;
}
.work-medical-beauty-Text{
	display: flex;
	flex-direction: column;
	background: #fff;
	background-color: rgba(255, 255, 255, 20%);
	border-radius: 24px;
	height: 400px;
	padding-bottom: 200px;
	padding-left: 40px;
}
.work-medical-beauty-Text h4{
	color: #fff;
	font-size:28px ;
	font-weight:700;
	line-height:33.6px ;
	padding-top: 80px;
	padding-right: 262px;
}
.work-medical-beauty-P{
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding-top: 8px;
}
.work-medical-beauty-Text ul{
	padding-top: 24px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.work-medical-beauty-Text li{
	width: 100px;
	color: #3B3B3B;
	background: #fff;
	border-radius: 16px;
}
.work-medical-beauty-Text a{
	color: #3B3B3B;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-decoration: none;
	padding-right: 18px;
	padding-bottom: 40px;
}

/*你好，冒險者，以下是work-service-item區域，也就是服務項目區域*/


.work-service-item{
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("../img/homepage-services-bg.png");
	width:100%;
	height: 570px;
}
.work-service-item-title{
	display: flex;
	justify-content:center;
	align-items:center;
	padding-top: 120px;
	padding-bottom: 80px;
}
.work-service-item-title h5{
	color: #3B3B3B;
	font-size: 32px ;
	font-weight: 600;
	line-height: 38.4px;
	padding-left:16px;
	padding-right:16px;
}
.work-service-item-text{
	display: flex;
	flex-direction: row;
	justify-content:center;
	align-items: center;
}
.work-service-item-inside{
	display: flex;
	flex-direction: column;
	justify-content:flex-start;
	align-items: center;
	padding-right: 24px;
}
.work-service-item-bg{
	position: relative; 

}
.work-service-item-top{
	position: absolute;
	padding-top: 90px;
}
.work-service-item-slogon{
	position: absolute;
	color: #FFFFFF;
	font-size: 28px;
	font-weight: 700;
	line-height: 42px;
	padding-top: 184px;
}
.work-service-item-contact{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #3B3B3B;
	font-size: 28px ;
	font-weight: 600;
	line-height: 33.6px;
	padding-top: 80px;
	padding-bottom: 40px;
}
.Introduction-BTN-detail{
	width: 276px;
	height: 62px;
	background: #000000;
	border-radius: 5px;
	margin-left: 815px;
	font-size: 20px;
	color: #fff;
	text-align: center;
	line-height: 30px;
	font-weight: 700;
}


/*你好，冒險者，以下是work-featured-articles區域，也就是精選文章區域*/


.work-featured-articles{
 background: #fff;
}
.work-featured-articles-title{
	display: flex;
	justify-content:center;
	align-items:center;
	padding-top: 120px;
	padding-bottom: 80px;
}
.work-featured-articles-title h6{
	color: #3B3B3B;
	font-size: 32px ;
	font-weight: 600;
	line-height: 38.4px;
	padding-right: 15px;
	padding-left: 15px;
}
.work-featured-articles-inside{
	display: flex;
	justify-content: center;
	align-items: center;
}
.content07-box{
	width: 416px;
	padding-right: 24px;
	padding-bottom: 44px;
}
.content07-box-time{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.con07-title{
	color: #3B3B3B;
	font-size: 20px ;
	font-weight: 700;
	line-height: 24px;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 8px;
}
.con07-tag{
	width: 105px;
	background: #F1F1F1;
	border-radius:16px;
	text-align: center;
	color: #3B3B3B;
	font-size: 16px ;
	font-weight: 400;
	line-height: 24px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
}
.con07-time{
	color: #5B5B5B;
	font-size: 16px ;
	font-weight: 400;
	line-height: 24px;
	padding-top: 4px;
	padding-right: 8px;
}
.content07-footer{
	display: flex;
	justify-content:center;
	align-items: center;
	flex-wrap: wrap;
}
.content07-footer ul{
	display: flex;
	justify-content:center;
	align-items: center;
}
.content07-footer li{
	padding-right: 16px;
	padding-bottom: 120px;
}

.half-o{
	color: #E9E9E9;
}


/*你好，冒險者，以下是footer區域*/

.footer{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-image: url(../img/footer-bg-lg.png);
}
.footer-small-logo{
	padding-bottom: 24px;
	padding-top: 130.32px;
}
.footer-text{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.footer-text a{
	text-decoration: none;
}
.footer-normal{
	color: #3B3B3B;
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
}
.footer-email{
	color: #919191;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	padding-top: 24px;
	padding-bottom: 119px;
	text-decoration: none;
}
.footer-box{
	position: relative;
	color: #919191;
}

.footer-box img{
	position: absolute;
	top: 8px;
	padding-bottom: 9px;
	padding-left: 25px;
	padding-right: 10px;
}

.footer-UL li{
	width: 306px;
	border: 1px solid #C1C1C1;
	background: #FFFFFF;
	margin-top: 24px;
	margin-bottom: 24px;
	padding-top: 21px;
	padding-bottom: 21px;
	border-radius: 8px;
	text-align:left;
	color: #919191;
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;

}
.footer-UL a{
	text-decoration: none;
	color: #919191;
	padding-left: 88px;
	
}
.footer-UL li:hover{
	background: black;
	color: #fff;
}
.footer-UL a:hover{
	background: black;
	color: #fff;
}


/*你好，冒險者，以下是1200尺寸會看到的世界*/


@media(max-width: 1200px)
{
	/*這邊開始寫你規劃的css*/
	/*你好，冒險者，以下是header區域*/

	.headerLogo{
		margin-left: 250px;
		padding-left: 0px;
		padding-top: 11.5px;
		padding-bottom: 11.5px;
		padding-right: 15px;
	}
	.headerUL{
		margin-left: 400px;
	}
	.headerUL li{
		padding-bottom: 24px;
		padding-right: 4px;
	}
	.headerUL li a{
		width: 20px;
		color: #000;
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
	}
	.headerUL a{
		text-decoration: none;
		color: #000;
	}

	/*你好，冒險者，以下是profile-intro區域*/

	.profile-intro{
		display: flex;
		flex-direction:row;
		justify-content: center;
		align-items: center;
	}
	.profile-intro-picture01{
		margin-bottom: 20px;
		margin-left: 140px;
	}
	.profile-intro-picture02{
		display: none;
	}
	.profile-intro-img{
		max-width: 40%;
	}
	.profile-intro-Text{
		max-width: 60%;
		text-align: left;
		margin-left: 20px;
		margin-top:60px;
	}
	.profile-intro-lg{
		color: #3B3B3B;
		font-size: 32px;
		font-weight: 700;
		line-height: 38.4px;
		padding-bottom: 24px;
		padding-top: 40px;
	}
	.profile-intro-mid{
		color: #5B5B5B;
		font-size: 20px;
		font-weight: 400;
		line-height: 30px;
		padding-bottom: 8px;
	}
	.mark01{
		position: absolute;
		width: 135px;
		top: 130px;
		left: 150px;
	}
	.mark02{
		position: absolute;
		width: 110px;
		top: 130px;
		left: 300px;
	}
	.profile-intro-{
		width: 270px;
		text-align: center;
		color: #C1C1C1;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		padding-bottom: 24px;
		padding-right: 0px;
	}
	
	.profile-intro-logo{
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	.profile-intro-logo img{
		padding-right: 24px;
		padding-bottom: 45.71px;
		margin-bottom: 0px;
	}
	
	
	/*你好，冒險者，以下是works-intro區域，也就是作品介紹區域*/

	.works-intro{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.works-intro h2{
		font-size: 24px;
		font-weight: 700;
		line-height: 28.8px;
	}




	/*你好，冒險者，以下是work-star-travel區域，也就是星際旅行區域*/


	.work-star-travel{
		position: relative; 
	}

	.work-star-travel::before {
		content:'';
		position: absolute;
		background-size:cover;
		background-position: center;
		background-repeat: no-repeat;
		/*background-image: url("https://i.postimg.cc/Zq93vSw3/homepage-work1-bg.png");*/
		background-image: url("../img/homepage-work1-bg.png");
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.work-star-travel-bg{
		max-width: 50%;
		padding-top: 93px;
		padding-right: 39.92px;
		padding-left: 40px;
	}
	.work-star-travel-Text{
		max-width: 50%;
		background: #fff;
		background-color: rgba(255, 255, 255, 20%);
		padding-left: 40px;
	}
	.work-star-travel-Text h3{
		text-align: center;
		color: #fff;
		line-height:24px ;
		padding-top: 110px;
		padding-right: 180px;
		padding-left: 0px;
		padding-bottom: 8px;
	}
	.work-star-travel-P{
		text-align: center;
		padding-top: 0px;
		padding-right: 60px;
		padding-bottom: 16px;
	}
	.work-star-travel-Text ul{
		padding-top: 0px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	.work-star-travel-Text li{
		width: 100px;
		background: #F1F1F1;
	}
	.work-star-travel-Text a{
		padding-bottom: 20px;
	}
	.White-Line {
		width: 340px;
	}
	.Introduction-BTN {
		margin-left: 80px;
	}
	
	

	/*你好，冒險者，以下是work-finance-APP區域，也就是理財APP區域*/


	.work-finance-APP{
		background-image: url("../img/homepage-work2-lg.png");
		height: auto;
	}
	.work-finance-APP-inside{
		width: 640px;
		padding-top: 200px;
		padding-bottom: 0px;
		padding-left: 50px;
		padding-right: 0px;
	}

	.work-finance-APP-P{
		text-align: left;
		padding-top: 8px;
	}
	
	.work-finance-APP-Textt a{
		color: #3B3B3B;
		text-align: center;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		text-decoration: none;
		padding-right: 30px;
		padding-bottom: 20px;
	}

	
	/*你好，冒險者，以下是work-medical-beauty區域，也就是醫療美容區域*/

	.work-medical-beauty::before {
		content:'';
		position: absolute;
		background-size:cover;
		background-position:center;
		background-repeat: no-repeat;
		/*background-image: url("https://i.postimg.cc/Zq93vSw3/homepage-work1-bg.png");*/
		background-image: url("../img/homepage-work3-bg.png");
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.work-medical-beauty-bg{
		max-width: 50%;
		padding-top: 100px;
		padding-right: 39.92px;
		padding-bottom: 60px;
		padding-left: 40px;
	}
	.work-medical-beauty-Text {
		max-width: 50%;
	}
	.work-medical-beauty-Text h4 {
		padding-right: 120px;
	}
	.White-Line-05{
		width: 0px;
		height: 1px;
		border-top: solid #fff 0px;
		padding-bottom: 0px;
		margin-left: 0px;
		margin-right: 0px;
	}
	.Introduction-BTN-05{
		width: 128px;
		height: 40px;
		background: #000000;
		border-radius: 5px;
		margin-left: 100px;
		margin-bottom: 56px;
	}
	.Introduction-BTN-P-05{
		font-size: 16px;
		color: #fff;
		text-align: center;
		line-height: 24px;
		font-weight: 700;
		padding-top: 8px;
		padding-bottom: 16px;
		padding-right: 3px;
	}
	
	
	.work-medical-beauty- h4{
		text-align: center;
		color: #1E1E1E;
		font-size:20px ;
		font-weight:700;
		line-height:24px ;
		padding-top: 24px;
		padding-right: 0px;
	}
	.work-medical-beauty- ul{
		padding-top: 16px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding-left: 10px;
	}
	.work-medical-beauty- li{
		width: 140%;
		color: #3B3B3B;
		background: #F1F1F1;
		border-radius: 16px;
	}
	.work-medical-beauty- a{
		color: #3B3B3B;
		text-align: center;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		text-decoration: none;
		padding-right: 35px;
		padding-bottom: 24px;
	}


	/*你好，冒險者，以下是work-service-item區域，也就是服務項目區域*/


	.work-service-item-title{
		padding-top: 80px;
		padding-bottom: 40px;
	}
	.work-service-item-title h5{
		font-size: 24px ;
		font-weight: 700;
		line-height: 28.8px;
	}
	.work-service-item-inside{
		padding-right: 34.5px;
		padding-left: 34.5px;
		padding-bottom: 24px;
	}
	.work-service-item-bg{
		border-radius: 16px;
	}
	.work-service-item-top{
		padding-top: 40px;
	}
	.work-service-item-slogon{
		padding-top: 140px;
	}
	.work-service-item-contact{
		font-size: 20px ;
		font-weight: 700;
		line-height: 24px;
		padding-top: 40px;
		padding-bottom: 24px;
	}
	.Introduction-BTN-detail{
		margin-left: 450px;
		margin-bottom: 88px;
	}



	/*你好，冒險者，以下是work-featured-articles區域，也就是精選文章區域*/

	.work-featured-articles-title{
		padding-top: 80px;
		padding-bottom: 40px;
	}
	.work-featured-articles-title h6{
		font-size: 24px ;
		font-weight: 700;
		line-height: 28.8px;
	}
	.content07-box{
		width: 100%;
		padding-right: 6px;
		padding-left: 6px;
		padding-bottom: 48px;
	}
	.content07-box img{
		border-radius: 8px;
	}
	.con07-title{
		width: 335px;
		font-weight: 600;
		padding-left: 4px;
	}
	.con07-tag{
		margin-left: 12px;
	}
	.con07-time{
		margin-right: 8px;
	}
	.content07-footer{
		display: flex;
		justify-content:center;
		align-items: center;
		flex-wrap: wrap;
	}
	.content07-footer ul{
		display: flex;
		justify-content:center;
		align-items: center;
	}
	.content07-footer li{
		padding-right: 16px;
		padding-bottom: 80px;
	}


		
	/*你好，冒險者，以下是footer區域*/

	.footer{
		background-image: url(../img/footer-bg-sm.png);
	}
	.footer-small-logo{
		width: 120px;
		height: 54px;
		margin-bottom: 24px;
		margin-left: 100px;
		margin-right: 100px;
		margin-top: 40px;
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
	.footer-text{
		justify-content: center;
		align-items: center;
	}
	.footer-normal{
		font-size: 16px;
		line-height: 24px;
	}
	.footer-email{
		font-size: 16px;
		padding-bottom: 40px;
	}
	.footer-box{
		position: relative;
		color: #919191;
	}
	.footer-UL li{
		margin-bottom: 24px;
		font-weight: 700;
	}
	.footer-UL a{
		text-decoration: none;
		color: #919191;
		padding-left: 88px;
		
	}
	.footer-UL li:hover{
		background: black;
		color: #fff;
	}
	.footer-UL a:hover{
		background: black;
		color: #fff;
	}
}


/*你好，冒險者，以下是992尺寸會看到的世界*/


@media(max-width: 992px)
{
	.headerUL{
		margin-left: 285px;
	}
	.headerUL li {
		padding-right: 0px;
	}
	.headerUL li a {
		margin-right: 10px;
		padding-right: 0px;
		padding-left: 0px;
	}
	.profile-intro-img{
		padding-left: 12px;
	}
	.profile-intro-Text{
		margin-left: 20px;
	}
	.profile-intro-picture01 {
		margin-left: 85px;
	}


	.work-star-travel-bg {
		padding-right: 20px;
	}
	.White-Line {
		width: 340px;
	}
	.Introduction-BTN {
		margin-left: 90px;
	}

	.work-finance-APP-inside {
		width: 550px;
		padding-left: 40px;
	}
	.work-finance-APP-Text {
		width: 470px;
	}
	.White-Line-04 {
		width: 380px;
	}
	.Introduction-BTN-04 {
		margin-left: 140px;
	}

	.work-service-item-slogon {
		padding-top: 120px;
	}
	.Introduction-BTN-detail {
		margin-left: 350px;
	}

	.work-medical-beauty-bg {
		padding-right: 25px;
	}
	.work-medical-beauty-Text h4 {
		padding-right: 0px;
		margin-right: 250px;
	}
	.content07-box {
		width: 33.33%;
		padding-left: 3px;
		padding-right: 3px;
	}
}


/*你好，冒險者，以下是767尺寸會看到的世界*/


@media(max-width: 767px)
{

	.headerLogo {
        margin-left: 0px;
        padding-left: 17.76px;
        padding-top: 17.28px;
        padding-bottom: 17.89px;
        padding-right: 15px;
    }
	.headerUL {
        margin-left: 290px;
    }
	.profile-intro {
		flex-direction: column-reverse;
	}
	.profile-intro-img {
        max-width: 100%;
		padding-left: 0px;
    }
	.profile-intro-picture01 {
        margin-left: 0px;
    }
	.profile-intro-Text {
		text-align: center;
	}
	.mobile{
		display: block;
	}
	.mark01{
		top: 160px;
		left: 0px;
	}
	.mark02{
		top: 160px;
		left: 155px;
	}
	.profile-intro-sm {
		padding-bottom: 24px;
	}
	.profile-intro-logo {
		margin-left: 25px;
	}
	.profile-intro-logo img {
		padding-right: 16px;
		padding-bottom: 40px;
	}

	.work-star-travel-inside {
		flex-direction: column;
	}
	.work-star-travel-bg {
		max-width: 100%;
		background-image: none;
		padding-top: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
	.work-star-travel-bg img{
		max-width: 90%;
		padding-top: 90px;
		padding-right: 39.92px;
		padding-left: 90px;
	}


	.work-star-travel-Text {
		width: 767px;
		height: auto;
		max-width: 100%;
		background: #fff;
		border-radius: 0px;
		padding-left: 0px;
		text-align: center;
		justify-content: center;
		align-items: center;

	}
	.work-star-travel-Text h3 {
		color: #1E1E1E;
		font-size: 20px;
		padding-top: 24px;
		padding-left: 180px;
		padding-right: 180px;
	}
	.work-star-travel-P {
		color: #5B5B5B;
		padding-right: 180px;
		padding-left: 180px;
	}
	.White-Line {
		display: none;
	}
	.Introduction-BTN {
		margin-left: 0px;
		margin-bottom: 40px;
	}



	.work-finance-APP {
		width: 100%;
		height: auto;
		flex-direction: column;
		background-image: none;
	}
	.work-finance-APP-inside {
		width: 100%;
		background: #fff;
		padding-left: 0px;
		padding-top: 0px;
	}
	.work-finance-APP-Text {
		width: auto;
		height: auto;
	}
	.work-finance-APP::before {
		
		background-image: none;
	}
	.mobile767{
		display: block;
	}
	.White-Line-04 {
		display: none;
	}
	.work-finance-APP h4 {
		text-align: center;
		padding-left: 0px;
		color: #1E1E1E;
		padding-top: 40px;
	}
	.work-finance-APP-P {
		color: #5B5B5B;
	}
	.work-finance-APP li {
		background: #F1F1F1;
	}
	.work-finance-APP-P {
		padding-left: 230px;
	}
	.work-finance-APP ul {
		padding-left: 250px;
	}
	.work-finance-APP a {
		padding-bottom: 20px;
	}
	.Introduction-BTN-04{
		margin-left: 250px;
	}


	.work-medical-beauty-inside {
		flex-direction: column;
	}
	.work-medical-beauty-bg {
		max-width: 100%;
		background-image: url(../img/homepage-work3-bg.png);

	}
	.work-medical-beauty::before {
		background-image: none;
	}
	.work-medical-beauty-Text {
		max-width: 100%;
		width: 767px;
		height: auto;
		text-align: center;
		background-color: rgba(255, 255, 255, 100%);
		padding-left: 0px;
		padding-bottom: 0px;
		border-radius: 0px;
	}
	.work-medical-beauty-Text h4 {
		padding-left: 0px;
		margin-right: 0px;
		color: #1E1E1E;
	}
	.work-medical-beauty-P {
		color: #5B5B5B;
		padding-left: 0px;
	}
	.work-medical-beauty-Text ul {
		padding-left: 250px;
	}


	.work-service-item-title {
		background: #FAFAFA;
	}
	.work-service-item {
		background-image: none;
		background: #FAFAFA;
		height: auto;
	}
	.work-service-item-text {
		flex-direction: column;
	}
	.work-service-item-top {
		padding-top: 96px;
	}
	.work-service-item-slogon {
		padding-top: 180px;
	}
	.Introduction-BTN-detail {
		margin-left: 240px;
	}


	.work-featured-articles-inside {
		flex-direction: column;
	}
	.con07-title {
		width: 100%;
	}
	.footer {
		flex-direction: column;
	}

}

@media(max-width: 576px)
{
    .headerUL {
		margin-left: 95px;
	}
	.headerUL li {
		width: auto;
	}
	.work-finance-APP h4 {
		font-size: 20px;
		padding-top: 40px;
		text-align: center;
		padding-left: 0px;
		padding-right: 0px;
	}
	.work-finance-APP-P {
		padding-left: 0px;
		padding-right: 0px;
		text-align: center;
	}
	.work-finance-APP ul {
		display: flex;
		justify-content: center;
		padding-left: 0px;
	}
	.Introduction-BTN-04 {
		margin-left: 160px;
	}
	.work-medical-beauty-Text ul {
		display: flex;
		justify-content: center;
        padding-left: 0px;
    }
	.Introduction-BTN-detail {
		margin-left: 150px;
	}
	.content07-box {
		width: 100%;
	}
	.content07-box img {
		padding-left: 80px;;
	}
}

@media(max-width: 414px)
{
	.headerLogo {
		padding-left: 5px;
		padding-right: 5px;
	}
	.headerUL {
		margin-left: 20px;
	}
	.headerUL li a {
		font-size: 16px;
	}
	.profile-intro-Text {
		margin-left: 0px;
	}
	.profile-intro-Text {
		max-width: 70%;
	}
	.work-finance-APP h4 {
		font-size: 28px;
	}
	.work-star-travel-Text h3 {
		font-size: 28px;
		padding-top: 40px;
		padding-left: 0px;
		padding-right: 0px;
		text-align: center;
	}
	.work-star-travel-P {
		padding-left: 0px;
		padding-right: 0px;
	}
	.Introduction-BTN-04 {
		margin-left: 80px;
	}
	.work-medical-beauty-Text h4 {
		font-size: 28px;
		padding-top: 24px;
	}
	.Introduction-BTN-detail {
		margin-left: 80px;
	}
	.work-featured-articles-title {
		padding-top: 40px;
	}
	.content07-box img {
		padding-left: 0px;
	}

}


/*你好，冒險者，以下是375尺寸會看到的世界*/


@media(max-width: 375px)
{
	.headerUL {
		margin-left: 60px;
	}
	.headerUL li {
		width: 20px;
		margin-right: 20px;
	}
	.headerUL li a {
		margin-right: 0px;
	}
	.profile-intro-picture01{
		display: none;
	}
	.profile-intro-picture02{
		display: block;
	}
	.profile-intro-Text {
		margin-top: 0px;
		margin-left: 0px;
	}
	.profile-intro-mid {
		width: 268px;
	}
	.work-star-travel-Text {
		width: 375px;
	}
	.work-star-travel-Text h3 {
		padding-left: 0px;
        padding-right: 0px;
	}
	.work-star-travel-P {
		padding-left: 0px;
        padding-right: 0px;
	}
	.mobile375{
		display: block;
	}
	.mobile767{
		display: none;
	}
	.work-finance-APP-Text {
		text-align: center;
	}
	.work-finance-APP h4 {
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 24px;
	}
	.work-finance-APP-P {
		width: 327px;
		padding-left: 15px;
		text-align: center;
	}
	.work-finance-APP ul {
		padding-left: 35px;
	}
	.Introduction-BTN-04 {
		width: 128px;
		height: 40px;
		margin-left: 80px;
	}
	.work-medical-beauty-Text ul {
		padding-left: 0px;
	}

	.Introduction-BTN-detail {
		margin-left: 50px;
	}
	.content07-box {
		width: 100%;
	}
}
